/* Max Width 1024px
------------------------------------------------- */
@media screen and (max-width: 1024px) {
	.header-profile-more h3 {
		font-size: 1em;
	}

	.header-profile-more p {
		font-size: 0.875em;
	}

	.main-header p {
		font-size: 0.875em;
	}

	.icon-list p {
		font-size: 0.875em;
	}

	.box-top-icons {
		font-size: 1.75em;
		/* 28px/16px */
	}

	.box-title h4 {
		font-size: 1.125em;
		/* 18px/16px */
	}

	.box-content h5 {
		font-size: 1em;
		/* 16px */
	}

	.box-content h6 {
		font-size: 0.875em;
		/* 14px/16px */
	}

	.box-content p {
		font-size: 0.875em;
		/* 14px/16px */
	}

	.box-content-check-list li {
		font-size: 0.875em;
		/* 14px/16px */
	}

	.tag-cloud li {
		font-size: 0.875em;
	}

	.btn-list {
		display: block;
	}

	.btn-list li {
		float: none;
		margin: 0 0 15px;
	}

	.btn-list li:last-child {
		margin-bottom: 0;
	}

	.btn-sm {
		width: 100%;
	}
}