/* Max Width 1024px
------------------------------------------------- */

@media screen and (max-width: 1024px) {

	.box-top-icons {
	  font-size: 1.75em; /* 28px/16px */
	}

	.box-title h4 {
	  font-size: 1.125em; /* 18px/16px */
	}

	.box-content h5 {
    font-size: 1em; /* 16px */
	}

	.box-content p {
    font-size: .875em; /* 14px/16px */
	}

	.box-content ul {
    font-size: .875em; /* 14px/16px */
	}

	.tag-cloud li.tag-1 {
		font-size: 0.875em;
	}

	.tag-cloud li.tag-2 {
		font-size: 1.5em;
	}

	.tag-cloud li.tag-3 {
		font-size: 2em;
	}

}
