/* Global Wrapper
-------------------------------------------------------------- */
.global-wrapper {
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;
}
/* Section
-------------------------------------------------------------- */
section {
	margin: 100px 0;
}