/* Global Wrapper
-------------------------------------------------------------- */

.global-wrapper {
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;
}

section.news .global-wrapper {
	max-width: 850px;
}
/* Section
-------------------------------------------------------------- */

section {
	position: relative;
	padding: 100px 0;
}

section.arrow-break {
	border-bottom: 2px solid #ebebeb;
}

section.cta {
	background: #bedbe8;
	padding: 25px 0;
	margin-bottom: 0;
}

.no-js section.news {
	display: block;
}

section.news {
	display: none;
	border-bottom: 2px solid #ebebeb;
}
