/* Header Profile
-------------------------------------------------------------- */
.header-profile {
	text-align: center;
}

.header-profile-pic {
	margin-bottom: 10px;
}

.header-profile-pic a {
	background-image: url("/img/retina-mike.jpg");
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #fff;
}

.header-profile-titles {
	color: #555;
}

.header-profile-titles a {
	color: #555;
}

.header-profile-titles h1 {
	font-size: 3em;
	/* 48px/16px */
	font-weight: 300;
}

.header-profile-titles h2 {
	font-size: 1em;
	/* 15px/16px */
	font-weight: 300;
	line-height: 1.25;
}

.header-profile-titles h3 {
	margin-top: 0.9375em;
	/* 15px/16px */
}
/* Contact
-------------------------------------------------------------- */
.contact {
	position: fixed;
	top: 20px;
	right: 0;
	background: #bedbe8;
	box-shadow: -1px 1px 1px #959595;
	z-index: 1;
}

.contact a {
	color: #fff;
	font-size: 1.25em;
	/* 20px/16px */
	padding: 0.25em;
	/* 5px/20px */
	display: block;
}

.contact a:hover {
	color: #555;
}
/* Box
-------------------------------------------------------------- */
.box {
	float: left;
	width: 33.33333333333333%;
	/* 383.3333333333333px/1150px */
	padding: 30px 15px 0;
}

.box:nth-child(-n+3) {
	padding-top: 0;
}

.box-top {
	display: block;
	position: relative;
	border: 1px solid #bedbe8;
	padding-top: 56.60462799438482%;
	/* 200px/353.328px */
}

.box-top-content {
	background: #bedbe8;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

.box-top::after {
	font-family: "Font Awesome 5 Free";
	content: "\f061";
	font-weight: 900;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -25px;
	color: #bedbe8;
	font-size: 1.25em;
	/* 20px/16px */
}
// .box:first-child .box-top::after,

.box:last-child .box-top::after {
	content: none;
}

.box-top-header {
	width: 90%;
	text-align: center;
}

.box-top-icons {
	display: inline-block;
	font-size: 2.75em;
	/* 44px/16px */
	color: #fff;
}

.box-top-icons li {
	float: left;
	margin-left: 0.2272727272727273em;
	/* 10px/44px */
}

.box-top-icons li:first-child {
	margin-left: 0;
}

.box-content {
	padding: 0 10px;
	overflow: hidden;
}

.box-content h5 {
	font-size: 1.125em;
	/* 18px/16px */
	font-weight: 400;
	text-align: center;
	margin: 1.111111111111111em 0;
	/* 20px/18px */
	line-height: 1.5;
}

.box-content h6 {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 1em;
	text-align: center;
}

.box-content p {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 1em;
}

.box-content p:last-child {
	margin-bottom: 0;
}

.box-content a {
	color: #555;
}

.box-title h4 {
	font-size: 1.5em;
	/* 24px/16px */
	color: #fff;
}

.box-ext-link {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}

.box-content-check-list.fa-ul {
	margin-left: 2em;
}

.box-content-check-list li {
	font-weight: 300;
	margin-bottom: 1em;
	line-height: 1.5;
}

.box-content-check-list .fa-li {
	color: #bedbe8;
}
/* Tag Cloud
-------------------------------------------------------------- */
.tag-cloud {
	text-align: center;
}

.tag-cloud li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5em;
	line-height: 1.5;
}

.tag-cloud li.tag-1 {
	font-weight: 300;
}

.tag-cloud li.tag-2 {
	font-weight: 400;
}

.tag-cloud li.tag-3 {
	font-weight: 700;
}
/* Button List
-------------------------------------------------------------- */
.btn-list {
	display: inline-block;
}

.btn-list li {
	float: left;
	margin-left: 25px;
}

.btn-list li:first-child {
	margin-left: 0;
}
/* Button
-------------------------------------------------------------- */
.btn {
	display: block;
	text-decoration: none;
	text-align: center;
}

.btn-trans {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Button Size */

.btn-sm {
	width: 250px;
}
/* Button Color */

.btn-white {
	background: #fff;
	color: #555;
}

.btn-white:hover {
	background: #555;
	color: #fff;
}
/* Button Font */

.btn-default {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125em;
	/* 18px/16px */
	font-weight: 400;
	padding: 0.8333333333333333em;
	/* 15px/18px */
}
/* Footer to Top
-------------------------------------------------------------- */
.footer-to-top {
	text-align: center;
	color: #555;
}

.footer-to-top::before {
	font-family: "Font Awesome 5 Free";
	content: "\f062";
	font-weight: 900;
	font-size: 1.25em;
	/* 20px/16px */
}

.footer-to-top:hover {
	color: #464646;
	cursor: pointer;
}

.footer-to-top p {
	font-size: 0.625em;
	/* 10px/16px */
	margin-top: 0.5em;
	/* 5px/10px */
}
/* Modals
-------------------------------------------------------------- */
.about-modal {
	background: #fff;
	padding: 20px 30px;
	max-width: 600px;
	margin: 40px auto;
	position: relative;
}

.about-modal h2 {
	font-size: 1.75em;
	/* 28px/16px */
	text-align: center;
	padding-bottom: 0.7142857142857143em;
	/* 20px/28px */
}

.about-modal p {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 1em;
	/* 16px */
}

.about-modal p:last-of-type {
	margin-bottom: 0;
}

.about-modal a {
	color: #555;
}

.contact-modal {
	max-width: 600px;
	height: 972px;
	margin: 40px auto;
	position: relative;
}
/* JS State Rules
-------------------------------------------------------------- */
.js-box-fade {
	opacity: 0;
}

.no-js .js-box-fade {
	opacity: 1;
}