/* Main Header
-------------------------------------------------------------- */

.main-header {
  font-size: 1.75em; /* 28px/16px */
  font-weight: 300;
  text-align: center;
  padding-bottom: 1.071428571428571em; /* 30px/28px */
}
